<h1>Stupid Coaching</h1>
<h4>Ask your coach anything</h4>
<div class="container">
  <form action="/answer">
    <input type="text" name="question" class="search-bar">
    <input type="submit" value="Ask!"class="btn-blue submit" >
  </form>
</div>
